name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # Should match TARGET_DENO_VERSION in src/version.ts
  DENO_VERSION: "v1.28.1"

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Install Deno
        run: |-
          curl -fsSL https://deno.land/x/install/install.sh | sh -s ${{ env.DENO_VERSION }}
          echo "$HOME/.deno/bin" >> $GITHUB_PATH

      - name: Check formatting
        run: deno fmt --check src scripts

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Install Deno
        run: |-
          curl -fsSL https://deno.land/x/install/install.sh | sh -s ${{ env.DENO_VERSION }}
          echo "$HOME/.deno/bin" >> $GITHUB_PATH

      - name: Run linter
        run: deno lint src scripts

  start:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Install Deno
        run: |-
          curl -fsSL https://deno.land/x/install/install.sh | sh -s ${{ env.DENO_VERSION }}
          echo "$HOME/.deno/bin" >> $GITHUB_PATH

      - name: Print version
        run: deno task start -- -v
