name: Deno

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  # Should match TARGET_DENO_VERSION in src/version.ts
  DENO_VERSION: "v1.7.5"

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@c7d7968ad4a59c159a777f79adddad6872ee8d96
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run formatter check
        run: deno fmt --check src

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@c7d7968ad4a59c159a777f79adddad6872ee8d96
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run linter
        run: deno lint --unstable
